{% extends 'base.html.twig' %}

{% block title %}Symfony Base Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome on Symfony Base Application</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Hello {{ app.user.email }}!</p>
    {% else %}
        <p>Hello Guest!</p>
    {% endif %}
</div>
{% endblock %}
